.footer{
    background-color: rgb(228, 228, 14);
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid black;
    border-bottom: 2px solid black;
    position: sticky;
    bottom: 5px;
}

.thanksMessage{
    font-size: 40px;
    font-weight: 700;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin-left: 30px;
}

.cartButton:hover{
    cursor: pointer;
}
.cartButton{
    margin-right: 100px;
    font-size: 30px;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 20px;
    background-color: red;
    color: white;
    word-spacing: 3px;
    letter-spacing: 2px;
}